<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="hyCodeServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://14.29.188.58:9001/hyCodeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="hyCodeServiceSoap"
                contract="ServiceReference1.hyCodeServiceSoap" name="hyCodeServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>