<?xml version="1.0" encoding="utf-8"?>
<Main>
  <!-- 上一次登录账号  -->
  <accountNo text="登录账号" value="00" />
  <!-- 主题皮肤  -->
  <skinName text="主题皮肤" value="Office 2010 Blue" />
  <!-- 2. cs  3. css  -->
  <runningMode text="运行模式" value="3" />
  <!-- 1. basicHttp  2. wsHttp  3. Tcp  -->
  <wcfBinding text="wcf绑定协议" value="1" />
  <!-- 中间件服务地址 -->
  <wcfAddress text="wcf地址" value="http://10.37.0.240:9002/" />
</Main>