<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <settings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <convertSettings>
      <private>
      </private>
      <public>
      </public>
      <item>
        <add key="1" value="WBC" />
        <add key="2" value="RBC" />
        <add key="3" value="HGB" />
        <add key="4" value="HCT" />
        <add key="5" value="MCV" />
        <add key="6" value="MCH" />
        <add key="7" value="MCHC" />
        <add key="8" value="RDW" />
        <add key="9" value="HDW" />
        <add key="10" value="PLT" />
        <add key="11" value="MPV" />
        <add key="12" value="PDW" />
        <add key="13" value="PCT" />
        <add key="14" value="#NEUT" />
        <add key="15" value="#LYMPH" />
        <add key="16" value="#MONO" />
        <add key="17" value="#EOS" />
        <add key="18" value="#BASO" />
        <add key="19" value="#LUC" />
        <add key="20" value="%NEUT" />
        <add key="21" value="%LYMPH" />
        <add key="22" value="%MONO" />
        <add key="23" value="%EOS" />
        <add key="24" value="%BASO" />
        <add key="25" value="%LUC" />
        <add key="26" value="LI" />
        <add key="27" value="MPXI" />
        <add key="36" value="ANISO" />
        <add key="37" value="MICRO" />
        <add key="38" value="MACRO" />
        <add key="39" value="VAR" />
        <add key="40" value="HYPO" />
        <add key="41" value="HYPER" />
        <add key="42" value="LS" />
        <add key="43" value="ATYP" />
        <add key="44" value="BF" />
        <add key="47" value="%PN1" />
        <add key="48" value="Noise/LYMPH" />
        <add key="49" value="MNY" />
        <add key="50" value="WBCP" />
        <add key="51" value="CHCM" />
        <add key="52" value="WBCB" />
        <add key="72" value="CH" />
        <add key="73" value="CHDW" />
        <add key="81" value="PLTCLM" />
        <add key="166" value="MPC" />
        <add key="168" value="MPM" />
        <add key="910" value="%Retic" />
        <add key="911" value="#Retic" />
        <add key="912" value="CHr" />
        <add key="913" value="CHDWr" />
        <add key="921" value="MCVr" />
        <add key="922" value="CHCMr" />
        <add key="923" value="RDWr" />
        <add key="924" value="HDWr" />
      </item>
    </convertSettings>
    <analysisSettings>
      <add key="mode" value="auto.network" />
      <add key="DeviceID" value="000025" />
      <add key="IpAddress" value="192.168.0.10" />
      <add key="Port" value="701" />
      <add key="ImagePath" value="C:\Inetpub\ftproot\x" />
    </analysisSettings>
  </settings>
</configuration>