<?xml version="1.0" encoding="gb2312" ?>
<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
			</private>
			<public>
			</public>
			<item>
				<add key="01" value="TP" />
				<add key="02" value="ALB" />
				<add key="03" value="GLB" />
			</item>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="auto" />
		</analysisSettings>
	</settings>
</configuration>