<?xml version="1.0" encoding="gb2312" ?>
<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
			</private>
			<public>
			</public>
			<item>
			<add key="wbc_histogram" value="WBC_Histogram" />
			<add key="rbc_histogram" value="RBC_Histogram" />
			<add key="plt_histogram" value="PLT_Histogram" />
			<add key="wbc" value="WBC" />
			<add key="lym#" value="LYM#" />
			<add key="mon#" value="NEUT#" />
			<add key="gra#" value="MXD#" />
			<add key="rbc" value="RBC" />
			<add key="hgb" value="HGB" />
			<add key="hct" value="HCT" />
			<add key="mcv" value="MCV" />
			<add key="mch" value="MCH" />
			<add key="mchc" value="MCHC" />
			<add key="rdw" value="RDW" />
			<add key="plt" value="PLT" />
			<add key="mpv" value="MPV" />
			<add key="pct" value="PCT" />
			<add key="pdw" value="PDW" />
			<add key="lym%" value="LYM%" />
			<add key="mon%" value="NEUT%" />
			<add key="gra%" value="MXD%" />
			</item>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="auto.time" />
		</analysisSettings>
	</settings>
</configuration>