<?xml version="1.0" encoding="gb2312" ?>
<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
			</private>
			<public>
				<add key="trace" value="微量" />
				<add key="small" value="少量" />
				<add key="modera" value="中量" />
				<add key="moderate" value="中量(++)" />
				<add key="large" value="大量" />
				<add key="positive" value="阳性" />
				<add key="negative" value="阴性" />
			</public>
			<item></item>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="auto" />
		</analysisSettings>
	</settings>
</configuration>