<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
			</private>
			<public>
			</public>
			<item>
			</item>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="auto" />

		</analysisSettings>
	</settings>
</configuration>