<?xml version="1.0" encoding="gb2312" ?>
<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
			</private>
			<public>
			</public>
			<item>
				<add key="albumin%" value="auto" />
				<add key="albumin" value="auto" />
				<add key="alpha 1%" value="Alpha1%" />
				<add key="alpha 1" value="Alpha1" />
				<add key="alpha 2%" value="Alpha2%" />
				<add key="alpha 2" value="Alpha2" />
				<add key="beta%" value="Beta%" />
				<add key="beta" value="Beta" />
				<add key="gamma%" value="Gamma%" />
				<add key="gamma" value="Gamma" />
				<add key="curve" value="AlbCurve" />
				<add key="shadow" value="AlbStrip" />
			</item>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="auto" />
		</analysisSettings>
	</settings>
</configuration>