<?xml version="1.0" encoding="gb2312" ?>
<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
			</private>
			<public>
			</public>
			<item>
			   <add key="W-SCR" value="LYM%" />
			   <add key="W-MCR" value="MXD%" />
			   <add key="W-LCR" value="NEUT%" />
			   <add key="W-SCC" value="LYM#" />
			   <add key="W-MCC" value="MXD#" />
			   <add key="W-LCC" value="NEUT#" />
   			 <add key="W-SMV" value="W-SMV" />
			   <add key="W-LMV" value="W-LMV" />
			</item>
			<percentItem>
				 <add key="NEUT%"/>
				 <add key="MXD%"/>
				 <add key="LYM%"/>
				 <add key="HCT"/>
				 <add key="RDW-CV"/>
				 <add key="P-LCR"/>
			</percentItem>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="auto.network" />
			<add key="DeviceType">KX-21</add>
			<add key="DeviceNo">003</add>
			<add key="IpAddress">192.168.0.6</add>
			<add key="Port">2000</add>
		</analysisSettings>
	</settings>
</configuration>