<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <settings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <convertSettings>
      <private>
      </private>
      <public>
      </public>
      <item>
      </item>
    </convertSettings>
    <analysisSettings>
      <add key="mode" value="manual.file" />
    </analysisSettings>
  </settings>
  <defaultPathSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="AFP" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\AFP2.OOT" />
    <add key="CEA" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\CEA.OOT" />
    <add key="SF" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\SF.OOT" />
    <add key="A-B2MG" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\A-B2MG.OOT" />
    <add key="T3" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\T3.OOT" />
    <add key="T4" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\T4.OOT" />
    <add key="HTSH" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\HTSH.OOT" />
    <add key="TG" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\TG.OOT" />
    <add key="TM" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\TM.OOT" />
    <add key="FT3" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\FT3.OOT" />
    <add key="FT4" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\FT4.OOT" />
    <add key="R-T3" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\R-T3.OOT" />
    <add key="L-HBSAG" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\L-HBSAG.OOT" />
    <add key="L-HBSAB" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\L-HBSAB.OOT" />
    <add key="L-HBEAG" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\L-HBEAG.OOT" />
    <add key="L-HBEAB" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\L-HBEAB.OOT" />
    <add key="L-HBCAB" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\L-HBCAB.OOT" />
    <add key="CAB-IGM" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\CAB-IGM.OOT" />
    <add key="CG" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\CG.OOT" />
    <add key="HA" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\HA.OOT" />
    <add key="PC3" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\R-T3.OOT" />
    <add key="LN" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\R-T3.OOT" />
    <add key="INS" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\INS.OOT" />
    <add key="C-P" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\C-P.OOT" />
    <add key="HGH" value="C:\Documents and Settings\Administrator\桌面\放免仪器数据\HGH.OOT" />
  </defaultPathSettings>
  <checkGroup>
    <add key="1" value="肿瘤五项" />
    <add key="2" value="甲功八项" />
    <add key="3" value="乙肝六项" />
    <add key="4" value="肝纤四项" />
    <add key="5" value="生长激素" />
    <add key="6" value="其他" />
  </checkGroup>
</configuration>