<?xml version="1.0" encoding="gb2312" ?>
<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
			</private>
			<public>
			</public>
			<item></item>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="manual.file" />
		</analysisSettings>
		<defaultPathSettings>
			<add key="" value=""/>
			<add key="" value=""/>
			<add key="" value=""/>
		</defaultPathSettings>
	</settings>
</configuration>