<?xml version="1.0" encoding="gb2312" ?>
<configuration>
	<settings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<convertSettings>
			<private>
				<rbc-info.>
					<add key="0" value="-" />
					<add key="1" value="正常红细胞" />
					<add key="2" value="小红细胞" />
					<add key="3" value="3" />
				</rbc-info.>
			</private>
			<public>
				<add key="******" value=">999999" />
				<add key="*****.**" value=">99999.99" />
			</public>
			<item>
				<add key="0201" value="RBC" />
				<add key="0202" value="WBC" />
				<add key="0100" value="EC" />
				<add key="0000" value="CAST" />
				<add key="0401" value="BACT" />
				<add key="rbcinfo" value="RBC-Info." />
				<add key="conductivity" value="Conductivity" />
				<add key="totalcount" value="TotalCount" />
				<add key="00d9" value="Path.CAST" />
				<add key="0107" value="SRC" />
				<add key="0402" value="SPERM" />
				<add key="0300" value="X'TAL" />
				<add key="0501" value="YLC" />
				<add key="0500" value="OTHERS" />
				<add key="0a30" value="RBC-P70Fsc" />
				<add key="0a31" value="RBC-Fsc-DW" />
				<add key="0a32" value="Non-Lysed RBC#" />
				<add key="0a33" value="Non-Lysed RBC%" />
				<add key="0a34" value="RBC-MFl" />
				<add key="0a35" value="RBC-MFsc" />
				<add key="0a36" value="RBC-Fl-DWSD" />
				<add key="0a37" value="WBC-MFsc" />
				<add key="0a38" value="Fsc2" />
			</item>
		</convertSettings>
		<analysisSettings>
			<add key="mode" value="auto" />
		</analysisSettings>
	</settings>
</configuration>