<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   此处显示用户应用程序和配置的属性设置。-->
		<!--   示例：<add key="settingName" value="settingValue"/> -->
		<add key="LISReportPrintPaperWidth" value="19.00"/>
		<add key="LISReportPrintPaperHeight" value="14.00"/>
		<add key="m_chkHandInputReport_PreferenceAutoBind.Checked" value="false"/>
		<add key="m_txtHandInputReport_PreferenceUser.Text" value=""/>
    <add key="PrinterName" value=""/>
    <add key="IsBlood" value="1"/>
	</appSettings>
  <adviaSettings>
    <!--   此处设置ADVIA2120的数据库路径和图片路径。-->
    <!--   示例：<add key="settingName" value="settingValue"/>-->
    <add key="m_strDataPath" value="E:\baojian.mo\资料中转\Advia2120\新建文件夹\新建文件夹\sqlims\sqlims.mdb"/>
    <add key="m_strPicPath" value="E:\baojian.mo\资料中转\Advia2120\新建文件夹\新建文件夹"/>
  </adviaSettings>
  <AdviaSamlpeListShowType>
    <!-- 血球仪ADVIA2120样本列表数据源设置：0-读取report_inf; 1-读取result_inf-->
    <setting type="1"/>
  </AdviaSamlpeListShowType>
  <mby2010Settings>
    <!-- 设置酶标仪的型号 0-Advia2120 1-Multiskan_Ascent(ASCENT) -->
    <add key="instrumentType" value="1"/>
    <!--   设置酶标仪2010的数据库路径。-->
    <add key="objConn" value="D:\ICARE_VER2005\Code\bin\Debug\Pivot3.3.mdb"/>
    <add key="DSN" value="Lis2002"/>
    <add key="uid" value="DBA"/>
    <add key="pwd" value="thisisapig"/>
    <!-- 设置酶标仪代号 -->
    <add key="code" value="78"/>
  </mby2010Settings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
