<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Com.svc.PeService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="Com.svc.PeInterface" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
