<?xml version="1.0" encoding="gb2312" ?>
<configuration>
    <MFZSettings>
	    <add key="DiagAreaID" value="1" />
    </MFZSettings>
    <LEDS Style="CurrentCall.DoubleColumn" RefreshTime="3000">
                <add ledNO="2" width="320" heigth="112"  linesNum="8" Font="宋体" FontSize="9" />
		<add ledNO="1" width="96"  heigth="16"   linesNum="1" Font="宋体" FontSize="11"/>
		<add ledNO="3" width="320" heigth="112"  linesNum="8" Font="宋体" FontSize="9" />
		<add ledNO="4" width="320" heigth="112"  linesNum="8" Font="宋体" FontSize="9" />
    </LEDS>
</configuration>