<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--是否自动刷新申请单，0表示否，1表示是-->
    <add key="AutoRefresh" value="0" />
    <!--自动刷新时间间隔，以分钟为单位，为空则为1分钟-->
    <add key="AutoRefreshTime" value="1" />
    <!--是否自动打印，1表示是，0表示否-->
    <add key="AutoPrint" value="0" />
    <!--选择的手术室-->
    <add key="AnaDept" value="0001" />
  </appSettings>
</configuration>