<?xml version="1.0" encoding="utf-8"?>
<LEDMain>
  <configuration1>
    <LedManager LedWidth="350" LedHeight="70" LedPositionX="30" LedPositionY="10" />
    <ShowWindow Value="123" />
    <RollScreen Value="2.0" />
    <HeadFontStyle Style="宋体" Size="9" />
    <ContentFontSyle Style="宋体" Size="9" />
    <Columns Value="4" />
    <Rows Value="4" />
    <NameDistance Value="12" />
    <MedStoreID Value="0001" />
    <RenovateDataTime Value="7" />
  </configuration1>
  <SendMedicine1>
    <LedManager LedWidth="306" LedHeight="80" LedPositionX="40" LedPositionY="100" />
    <SendWindow Value="0002*0010*0012" />
    <RollScreen Value="2.0" />
    <RenovateDataTime Value="8" />
    <HeadFontStyle Style="宋体" Size="10" />
    <ContentFontSyle Style="宋体" Size="12" />
    <MedStoreID Value="0001" />
    <NameDistance Value="10" />
    <PatientNumber Value="3" />
  </SendMedicine1>
</LEDMain>