<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <LedManager LedWidth="713" LedHeight="290" FontSize="10.5" FontFamily="宋体" Bold="False" PositionX="154" PositionY="258" />
  <WindowStatusBar FontSize="10.5" FontFamily="宋体" Bold="True" />
  <PauseWarning Value="暂停服务" />
  <RefreshTime Interval="5" />
  <RollScreenTime Interval="2" />
  <MedStore MedStoreid="0001" />
  <SendMedWindow WindowId="0002*0014*0016*0018*0020*0022" />
</configuration>