<?xml version="1.0" encoding="gb2312" ?>
<configuration>
  <Server IP="192.168.0.6" Port="5233" />
    <!-- 
    Port:              串口设置(1,2)
    LEDNO:            屏号(1,2,3,4....)
    Width:                 屏幕宽度(点数)
    Heigth:                 屏幕高度(点数)
    mode:              显示的方式(0..8一般情况下设置为0) 
       0<立即显示
       1<从右向左移入
       2<从左向右移入
       3<从下向上卷入
       4<从上向下卷入
       5<从左向右展开
       6<从右向左展开
       7<从上向下展开
       8<从下向上展开

    speed:             显示的速度(0..254表示做方式的速度快慢,0最快)
    delaytime:         做完方式停留的时间(0..254,一般设置为5如果快速刷新则可以设置大一点)
    colorswap:         数据方向(0,1得到反白的效果)
    rgswap:            红绿数据交换(0,1)
    
    示例: 
    <add Port="1" LEDNO="2" Width="320" Heigth="112" ColumnCount="3" LinesNum="8" Font="宋体" FontSize="9" mode="0" speed="0" delaytime="5" colorswap="0" rgswap="0"/>
    -->
   <LED Port="1" LEDNO="1" Width="96" Heigth="16" Font="宋体" FontSize="11" mode="0" speed="0" delaytime="5" colorswap="0" rgswap="0"/>
</configuration>