<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <BackupLastpath>D:\PACSData\Backup</BackupLastpath>
  <!--记录最后一次备份的时间，精确到秒-->
  <LastAutoBackupTime>2010-7-12 12:10:51</LastAutoBackupTime>
  <AutoSyncCacheSleepTime>600</AutoSyncCacheSleepTime>
  <!--是否开启自动备份 true:开启 false:关闭-->
  <IsAutomaticBackup>
  </IsAutomaticBackup>
  <!--备份方式 Week:每周备份一次 Month:每个月备份一次-->
  <AutoBackupWay>Week</AutoBackupWay>
  <!--备份间隔 （一个星期？一个月）-->
  <AutoBackupInterval>1</AutoBackupInterval>
  <!--如果是每周备份一次，则记录每周星期几备份一次 7,6,5,4,3,2,1,-->
  <AutoBackupDays>7,6,5,4,3,2,1,</AutoBackupDays>
  <!--设定在什么时候备份，比如晚上八点2010-6-13 20:00:00-->
  <AutoBackupTime>2010-6-13 20:00:00</AutoBackupTime>
  <!--报告样式保存路径-->
  <AutoBackupReportPath>D:\PACSData\报告样式备份文件夹</AutoBackupReportPath>
  <!--DMP脚本保存路径-->
  <AutoBackupDatabasePath>D:\PACSData\DmpBack</AutoBackupDatabasePath>
</configuration>