<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--叫号需要的参数,和下面的CallingData一起使用，用|符号分割  参数:QueueNumbers(叫号编号),patient_uid,patientID,patientName,patientSex,room_id,room_name-->
  <CallingString>QueueNumbers|patientName|ROOM_NAME</CallingString>
  <CallingData name="20133302" static="0">Y004|阿莎|检查三室</CallingData>
  <!--叫号内容,符号@读取的是CallingData属性中内容-->
  <CallingDataVale>请@号患者@到@排队就诊~~~~~~~~~~</CallingDataVale>
  <ScorllText>请Y004号患者阿莎到检查三室排队就诊~~~~~~~~~~</ScorllText>
</configuration>