<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--本机是否允许修改叫号状态与内容-->
  <IsUpdateCallStatusAndContent>true</IsUpdateCallStatusAndContent>
  <!--开启工作站是否同时开启叫号工程-->
  <OpenQueueCalling>false</OpenQueueCalling>
  <!--如果脚踏板叫号，设置脚踏板的键盘快捷键-->
  <ShortCutKeys>Ctrl+Alt+A|Ctrl+Alt+B|Ctrl+Alt+C|Ctrl+Alt+D</ShortCutKeys>
  <!--叫号重复次数-->
  <CallingTimesOfRepetition>2</CallingTimesOfRepetition>
  <!--每次叫号最小时间间隔 叫号线程刷新时间间隔 单位毫秒   注：1000毫秒=1秒-->
  <CollectorSleepTimes>5000</CollectorSleepTimes>
  <!--如果是一个病人多次叫号，则设置叫号的时间间隔 0.5:0.5秒 1：1秒-->
  <CallingRecurrenceInterval>0.1</CallingRecurrenceInterval>
  <!--LED模板中 显示等待病人的记录数-->
  <CallingByWaitingListData>15</CallingByWaitingListData>
  <!--0为主屏，1为扩展屏-->
  <Primary>1</Primary>
  <!--编号列的宽度-->
  <NoQueuingWidth>100</NoQueuingWidth>
  <!--病人列的宽度-->
  <PatientQueuingWidth>235</PatientQueuingWidth>
  <!--诊室行高度度-->
  <ClinicNameHeight>80</ClinicNameHeight>
  <!--病人行高度-->
  <PatientQueuingHeight>38</PatientQueuingHeight>
  <!--设置电视机中同时显示的诊室数量-->
  <ShowClinicNum>4</ShowClinicNum>
  <LocalQueueCallingVoiceOn>TRUE</LocalQueueCallingVoiceOn>
  <LocalAudioPlayingSpeed>2</LocalAudioPlayingSpeed>
  <!--叫诊间隔-->
  <queuecallsound>0</queuecallsound>
  <!--声音所在的下标-->
  <Item>2</Item>
  <!--声音所在的下标-->
  <Item1>2</Item1>
  <ReportPath>F:\东莞茶山PACS2.0\超声PACSUSWS\叫号样式文件\屏幕显示模板四.ald</ReportPath>
  <PlayingPPSFilePath>
  </PlayingPPSFilePath>
  <PlayingAVIFilePath>E:\ruby.avi</PlayingAVIFilePath>
  <!--设置Ald模板中病人信息刷新时间间隔，单位毫秒  注：1000毫秒=1秒-->
  <QueueRefreshTime>6000</QueueRefreshTime>
  <localWorkStationName>7126085F9EE5493</localWorkStationName>
  <LocalSelectedScreenStyleName>屏幕显示模板一</LocalSelectedScreenStyleName>
  <CALLSTEP>30</CALLSTEP>
  <CALLINTERVAL>100</CALLINTERVAL>
  <!--设置急诊病人是否显示在最前面 true:显示在最前面，false:按照原来的顺序加载-->
  <EmergencyDisplayInFront>true</EmergencyDisplayInFront>
  <!--如果是急诊病人，需要在姓名后加上的文字，比如：（急诊）-->
  <EmergencyPatientTips>(急诊)</EmergencyPatientTips>
  <!--是否显示关于排队状态对应颜色文字提示 true:显示 false:不显示-->
  <IsShowExamineStatusTips>true</IsShowExamineStatusTips>
  <!--关于颜色对应状态的文字信息字体大小-->
  <ExamineStatusTipsFontSize>25</ExamineStatusTipsFontSize>
  <!--关于颜色对应状态的文字信息字体的单元格高度-->
  <ExamineStatusTipsHeight>45</ExamineStatusTipsHeight>
  <!--关于颜色对应状态的文字信息 ald模板中的Name属性：-->
  <ExamineStatusColorTips>检查中(蓝色);排队中(红色);挂起(绿色)</ExamineStatusColorTips>
  <!--滚动文字的滚动方向-->
  <MessageScrollingDirection>Horizontal</MessageScrollingDirection>
  <!--ALD模板中文字的滚动速度-->
  <MessageScrollingSpeed>7</MessageScrollingSpeed>
  <!--是否显示当前叫到的病人的滚动信息  true:显示 false:不显示-->
  <IsShowScrollingDisplay>true</IsShowScrollingDisplay>
  <!--滚动文字的字体大小-->
  <ScrollingDisplayFontSize>25</ScrollingDisplayFontSize>
  <!--滚动文字的单元格的高度-->
  <ScrollingDisplayHeight>55</ScrollingDisplayHeight>
  <!--设置诊室名称用|符号分割-->
  <ClinicNameList>检查一室|检查二室|检查三室|检查四室</ClinicNameList>
  <!--设置不同检查状态拥有不同的字体颜色，颜色在anylib帮助文档中搜索FontColor即可找到-->
  <!--检查中-->
  <SetCheckInFontColor>16711680</SetCheckInFontColor>
  <!--排队中-->
  <SetQueueFontColor>255</SetQueueFontColor>
  <!--挂起-->
  <SetHangUpFontColor>32768</SetHangUpFontColor>
</configuration>